body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}

h1{
  margin-top: 0;
font-family: 'Pacifico', cursive;
font-size: 90px;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
background-color: #C3B091;
}

.middle-container{
background-color: #D1D1D1;
}

.bottom-container{
}
.dove{
  width: 100px;
  height:100px;
  position: relative;
  bottom: 500px;
}
.dove1{
  width:100px;
  height:100px;
  position: relative;
  bottom: 300px;
  left:700px;
}
.cloud2{
  position: absolute;
}

.cloud1{
  margin-top: 120px;
  position: relative;
  left: 200px;
}

.cloud3{
  position: relative;
   right:400px;
   top:50px;

}

.cloud4{
    position: relative;
    left : 280px;
    top:100px;


}
.cloud5{
  position: relative;
  top:250px;
  right:750px;
}
.cloud6{
  position: relative;
  left:200px;
  top:auto;
}
.image{
  width: 200px;
  height:200px
}

.skillsimage{
  width: 150px;
  height:150px;
}

.sk{
  font-family: 'Orelega One', cursive;
  font-size:25px;
}

.intro{
  color:#142850;
  font-size: 35px;
font-family: 'Mouse Memoirs', sans-serif;
}

.student{
  width: 200px;
  height:200px;
}

.education{
  font-size: 20px;
}

.workshop{
  width: 200px;
  height:200px;
}

table{
  margin-left: 200px;
}
.bottom-container{
  background-color: #B4E197;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact-me{
  margin-top: 0px;
}

.lastp{
  margin-bottom: 0px;
}


.email{
  width: 20px;
  height: 20px;
  position: relative;
  right: 50px;
  top: 150px;
}

.insta{
  width: 20px;
  height: 20px;
  position: relative;
  left:10px;
  right:15px;
  top:170px;
}

.linkedin{
  width: 20px;
  height: 20px;
  position: relative;
  right:150px;
  top: 170px;
}

.footer-link1{
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px
}
.btn{
  margin-top:15px;
}
